body{
    text-align: center;
}
#container h1 {
    background-color: aquamarine;
    border: 1px solid coral;
    font-family: 'Courier New', Courier, monospace;
}

#cabecera{
    box-shadow: inset;
    color:blue;
    margin: 0;
    padding: 0;
}